@import url('./reset.css');
@import url('./common.css');


/* 인덱스 페이지 내용*/


/* ===header===== */
header{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
}
header>div{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 20px 0;
  
}
header>div>h1{
    
  
}
header>div>h1>a{
font-size: 20px;
color: white;
}


header>div>nav{}
header>div>nav>a{
    color: white;
    font-size: 20px; 
    padding: 0 20px;
   
}













.spot {
    width: 100%;
    height: 100vh;
    background: url('../imgs/img_main_portfolio..jpg') 0 0 /cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.spot>div {
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.spot>div>b {
    font-size: 62px;
}

.spot>div>p {
    font-size: 18px;
    padding: 20px 0 30px;
    width: 48px; 
    
}

.spot>div>a {
    background-color: orange;
    color: inherit;
    padding: 10px 30px;
    display: inline-block;
}

.about {
    text-align: center;
    width: 1300px;

    margin: 0 auto;
    padding: 100px 0;
}

.about>title {}

/* 공통스타일 */


html {
    font-size: 16px;
}

body {
    color: #555;
}


.title>h2 {
    font-size: 40px;
}

.title>p {
    padding-top: 10px;
    color: #555;
}


/*
===========================================================================
=========================about=========================================
===========================================================================
*/




.about .contents{
    display: flex;
    justify-content: space-between;  
    text-align: center;
}

.about .contents > figure>p{
    width: 160px; height: 160px;
    background-color: pink;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.about .contents > figure>p>img{
   width: 48px; 
   
}




.about .contents > figure>p>img{
    
}

.about .contents > figure>figcaption>b{
    text-align: center;
}

.about .contents > figure>figcaption>b{
  font-size: 20px;
    
}

  

.about .contents > figure>figcaption>p{
  font-size: 15px; 
}




.about .contents > figure:hover >p{
    overflow: hidden;
    background-color: palegreen;
    border-radius: 50px;
    transform: scale(1.5);
    transition: 0.5s;}

   













/*
===========================================================================
=========================portfolio=========================================
===========================================================================
*/


.portfolio {
    padding: 100px 0;
    background-color: #eee;
    text-align: center;



}

.portfolio .contents {}

.portfolio .title,
.portfolio .contents {
    width: 1300px; margin: 0 auto;

}

.portfolio .contents {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}






.portfolio .contents>figure {

    flex: 0 0 32%;
    /*
    flex-grow:0 ;
    flex-shrink: 0;
    flext-basis: 30%;
    */

}

.portfolio .contents>figure>p {
     overflow: hidden;}



.portfolio .contents>figure>p>img {
    width: 100%; 
    transition: 0.5s;
    margin: 60px auto 0 auto;
    padding: 10px 0;
    
}


.portfolio .contents>figure:hover>p>img {
    transform: scale(1.2);

}


.portfolio .contents>figcaption {}

.portfolio .contents>figcaption>b {}

.portfolio .contents>figcaption>p {}




.contact{
    background-color: palegoldenrod;
    padding: 100px 0;
    text-align: center;
    
    
}
.contact h2,
.contact p{color: white;}


.contact .contents{
    width: 1300px; margin: 0 auto;
    margin: 60px auto 0 auto;
}



